---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

---
<BaseLayout pageTitle={frontmatter.title}>
<img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt}></img>
<h2>{frontmatter.description}</h2>
<p>Written by Asai</p>
<p>published on {frontmatter.pubDate}</p>
<p>{frontmatter.tags.map((tag) => <span> {tag}</span>)}</p>
<slot />
</BaseLayout>
